
.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 24px;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .close-menu,
  .open-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}

#btn{
  margin-top: 10px ;
  
}
#n2{
  margin-bottom: 10px ;
  
}

.p2{
  
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  background-color: cadetblue;
}
.p3{
  border: 1px solid red;
  padding: 5px;
  border-radius: 5px;
  background-color: peachpuff;
 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #efefef;
}
input {
  padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}
input:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}


.sbtn{

  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: rgb(236, 236, 236);
  border: none;
  margin-top: 10px;
  box-shadow:inset -2px -2px 6px rgba(255, 255, 255, .7),
  inset -2px -2px 4px rgba(255, 255, 255, .5),
  inset 2px 2px 2px rgba(255, 255, 255, .075),
  inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.sbtn h3{

  text-align: center;
  justify-content: center;
  align-items: center;
  color: green;  
  display: inline-block;
}


#box{
  height: 400px;
  width: 400px;
  position: relative;
  background-color: chocolate;
}

#animation{
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
  position: absolute;
  border: 1px solid ;
}